<%- include("partials/header.ejs") %>
  <div class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="w-40 h-75 d-flex flex-column align-items-center justify-content-start x-3 ">
      <p class="w-100 text-dark text-center pb-1 fw-bold fs-3">Welcome Aboard!!!</p>
      <div class="tenor-gif-embed" data-postid="13706074675319154881" data-share-method="host" data-aspect-ratio="0.692771" data-width="100%"><a href="https://tenor.com/view/malupiton-malupiton-dila-bossing-boss-gif-13706074675319154881">Malupiton Malupiton Dila GIF</a>from <a href="https://tenor.com/search/malupiton-gifs">Malupiton GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
      <div class="w-100 d-flex align-items-center justify-content-center mt-3">
        <a class="btn btn-dark w-75 text-white fw-semibold d-flex align-items-center justify-content-center" href="/logout">
          Log Out
        </a>
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>